{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista kontrahentów</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa kontrahenta</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for contractor in contractors %}
            <tr>
                <td><a href="{{ path('contractor_show', { 'id': contractor.id }) }}">{{ contractor.id }}</a></td>
                <td>{{ contractor.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contractor_show', { 'id': contractor.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('contractor_edit', { 'id': contractor.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contractor_new') }}">Dodaj nowego kontrahenta</a>
        </li>
    </ul>
{% endblock %}
