{% extends 'base.html.twig' %}

{% block body %}
    <h1>PurchaseInvoice list</h1>

	<table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Contractorid</th>
                <th scope="col">Fileid</th>
                <th scope="col">Taxid</th>
                <th scope="col">Title</th>
                <th scope="col">Number</th>
                <th scope="col">Amountnetto</th>
                <th scope="col">Amountbrutto</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchaseInvoice in pagination %}
            <tr>
                <td scope="row"><a href="{{ path('purchaseinvoice_show', { 'id': purchaseInvoice.id }) }}">{{ purchaseInvoice.id }}</a></td>
                <td>{{ purchaseInvoice.contractorId }}</td>
                <td>{{ purchaseInvoice.fileId }}</td>
                <td>{{ purchaseInvoice.taxId }}</td>
                <td>{{ purchaseInvoice.title }}</td>
                <td>{{ purchaseInvoice.number }}</td>
                <td>{{ purchaseInvoice.amountNetto }}</td>
                <td>{{ purchaseInvoice.amountBrutto }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('purchaseinvoice_show', { 'id': purchaseInvoice.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('purchaseinvoice_edit', { 'id': purchaseInvoice.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{{ knp_pagination_render(pagination) }}

    <ul>
        <li>
            <a href="{{ path('purchaseinvoice_new') }}">Create a new entry</a>
        </li>
    </ul>
	
		<div>
			<h1>Wyszukiwarka</h1>

			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
				{{ form_widget(form) }}
				<input type="submit" value="Wyszukaj" />
			{{ form_end(form) }}			
		</div>
	
	
{% endblock %}
