{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista obecności</h1>

	<table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Data</th>
                <th scope="col">Godzina Wejścia</th>
                <th scope="col">Godzina Wyjścia</th>
                <th scope="col">Czas Pracy</th>
                <th scope="col">Uwagi</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for attendance in attendances %}
            <tr>
                <td scope="row"><a href="{{ path('attendance_show', { 'id': attendance.id }) }}">{{ attendance.id }}</a></td>
                <td>{% if attendance.data %}{{ attendance.data|date('Y-m-d') }}{% endif %}</td>
                <td>{% if attendance.godzinaWejscia %}{{ attendance.godzinaWejscia|date('H:i:s') }}{% endif %}</td>
                <td>{% if attendance.godzinaWyjscia %}{{ attendance.godzinaWyjscia|date('H:i:s') }}{% endif %}</td>
                <td>{{ attendance.czasPracy }}</td>
                <td>{{ attendance.uwagi }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('attendance_show', { 'id': attendance.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('attendance_edit', { 'id': attendance.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{{ knp_pagination_render(attendances) }}

    <ul>
        <li>
            <a href="{{ path('attendance_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
