{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attendance</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attendance.id }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{% if attendance.data %}{{ attendance.data|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Godzinawejscia</th>
                <td>{% if attendance.godzinaWejscia %}{{ attendance.godzinaWejscia|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Godzinawyjscia</th>
                <td>{% if attendance.godzinaWyjscia %}{{ attendance.godzinaWyjscia|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Czaspracy</th>
                <td>{{ attendance.czasPracy }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('attendance_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('attendance_edit', { 'id': attendance.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
