{% extends 'base.html.twig' %}

{% block body %}
    <h1>Licencje</h1>

	<table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Numer inwentarzowy</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Klucz seryjny</th>
                <th scope="col">Data zakupu</th>
                <th scope="col">Numer faktury</th>
                <th scope="col">Wsparcie techniczne do</th>
                <th scope="col">Licencja do</th>
                <th scope="col">Stan</th>
                <th scope="col">Notatka</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for license in licenses %}
            <tr>
                <td scope="row"><a href="{{ path('license_show', { 'id': license.id }) }}">{{ license.id }}</a></td>
                <td>{{ license.numerinwentarzowy }}</td>
                <td>{{ license.nazwa }}</td>
                <td>{{ license.kluczseryjny }}</td>
                <td>{% if license.datazakupu %}{{ license.datazakupu|date('Y-m-d') }}{% endif %}</td>
                <td>{{ license.invoice ? license.invoice.number }}</td>
                <td>{% if license.wsparcietechnicznedo %}{{ license.wsparcietechnicznedo|date('Y-m-d') }}{% endif %}</td>
                <td>{{ license.licencjado }}</td>
                <td>{{ license.stan }}</td>
                <td>{{ license.notatka }}</td>
                <td>
                    <ul>
                        <li>
                            {% if (is_granted('edit', license)) %}
                            <a href="{{ path('license_show', { 'id': license.id }) }}">Pokaż</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if (is_granted('edit', license)) %}
                            <a href="{{ path('license_edit', { 'id': license.id }) }}">Edytuj</a>
                            {% endif %}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{{ knp_pagination_render(licenses) }}

    <ul>
        <li>
            <a href="{{ path('license_new') }}">Dodaj nową licencję</a>
        </li>
    </ul>
{% endblock %}
