{% extends 'base.html.twig' %}

{% block body %}
    <h1>Licencja</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ license.id }}</td>
            </tr>
            <tr>
                <th>Numer inwentarzowy</th>
                <td>{{ license.numerinwentarzowy }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ license.nazwa }}</td>
            </tr>
            <tr>
                <th>Klucz seryjny</th>
                <td>{{ license.kluczseryjny }}</td>
            </tr>
            <tr>
                <th>Data zakupu</th>
                <td>{% if license.datazakupu %}{{ license.datazakupu|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Numer faktury</th>
                <td>{{ license.invoice.number }}</td>
            </tr>
            <tr>
                <th>Wsparcie techniczne do</th>
                <td>{% if license.wsparcietechnicznedo %}{{ license.wsparcietechnicznedo|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Licencja do</th>
                <td>{{ license.licencjado }}</td>
            </tr>
            <tr>
                <th>Stan</th>
                <td>{{ license.stan }}</td>
            </tr>
            <tr>
                <th>Notatka</th>
                <td>{{ license.notatka }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('license_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('license_edit', { 'id': license.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
