{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dokumenty</h1>

	<table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Id wlasne</th>
                <th scope="col">Data dokumentu</th>
                <th scope="col">Strony dokumentu</th>
                <th scope="col">Notatka</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td scope="row"><a href="{{ path('document_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
                <td>{{ document.iDWlasne }}</td>
                <td>{% if document.dataDokumentu %}{{ document.dataDokumentu|date('Y-m-d') }}{% endif %}</td>
                <td>{{ document.stronyDokumentu }}</td>
                <td>{{ document.notatka }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('document_show', { 'id': document.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('document_edit', { 'id': document.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{{ knp_pagination_render(documents) }}

    <ul>
        <li>
            <a href="{{ path('document_new') }}">Create a new entry</a>
        </li>
    </ul>

	<div>
		<h1>Wyszukiwarka</h1>
		{{ form_start(form) }}
			{{ form_widget(form) }}
			<input type="submit" value="Wyszukaj" />
		{{ form_end(form) }}			
	</div>
	
	
{% endblock %}
