{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista sprzętu</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nr inwentarzowy</th>
                <th>Nazwa</th>
                <th>Nr seryjny</th>
                <th>Data zakupu</th>
                <th>Gwarancja do</th>
                <th>Wartość netto</th>
                <th>Kogo sprzęt</th>
                <th>Notatki</th>
                <th>Akcje</th>
                <th>Numer faktury</th>
            </tr>
        </thead>
        <tbody>
        {% for equipment in equipment %}
            <tr>
                <td><a href="{{ path('equipment_show', { 'id': equipment.id }) }}">{{ equipment.id }}</a></td>
                <td>{{ equipment.nrInwentarzowy }}</td>
                <td>{{ equipment.nazwa }}</td>
                <td>{{ equipment.nrSeryjny }}</td>
                <td>{% if equipment.dataZakupu %}{{ equipment.dataZakupu|date('Y-m-d') }}{% endif %}</td>
                <td>{% if equipment.terminGwarancji %}{{ equipment.terminGwarancji|date('Y-m-d') }}{% endif %}</td>
                <td>{{ equipment.wartoscNetto }}</td>
                <td>{{ equipment.kogoSprzet }}</td>
                <td>{{ equipment.notatki }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipment_show', { 'id': equipment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('equipment_edit', { 'id': equipment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                <td>{{ equipment.invoice ? equipment.invoice.number }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipment_new') }}">Create a new entry</a>
        </li>
    </ul>
	
	<div>
	<h1>Wyszukiwarka</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Wyszukaj" />
    {{ form_end(form) }}	
	</div>
	
{% endblock %}
