{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista sprzętu</h1>

	<table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nr inwentarzowy</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Nr seryjny</th>
                <th scope="col">Data zakupu</th>
                <th scope="col">Gwarancja do</th>
                <th scope="col">Wartość netto</th>
                <th scope="col">Kogo sprzęt</th>
                <th scope="col">Notatki</th>
                <th scope="col">Numer faktury</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for equipment in equipment %}
            <tr>
                <td scope="row"><a href="{{ path('equipment_show', { 'id': equipment.id }) }}">{{ equipment.id }}</a></td>
                <td>{{ equipment.nrInwentarzowy }}</td>
                <td>{{ equipment.nazwa }}</td>
                <td>{{ equipment.nrSeryjny }}</td>
                <td>{% if equipment.dataZakupu %}{{ equipment.dataZakupu|date('Y-m-d') }}{% endif %}</td>
                <td>{% if equipment.terminGwarancji %}{{ equipment.terminGwarancji|date('Y-m-d') }}{% endif %}</td>
                <td>{{ equipment.wartoscNetto }}</td>
                <td>{{ equipment.kogoSprzet }}</td>
                <td>{{ equipment.notatki }}</td>
                <td>{{ equipment.invoice ? equipment.invoice.number }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipment_show', { 'id': equipment.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('equipment_edit', { 'id': equipment.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{{ knp_pagination_render(equipment) }}

    <ul>
        <li>
            <a href="{{ path('equipment_new') }}">Dodaj nowy sprzęt</a>
        </li>
    </ul>
	
	<div>
	<h1>Wyszukiwarka</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Wyszukaj" />
    {{ form_end(form) }}	
	</div>
	
{% endblock %}
