{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista faktur sprzedaży</h1>

	<table class="table table-striped" >
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Data faktury</th>
                <th scope="col">Numer faktury</th>
                <th scope="col">Nazwa kontrahenta</th>
                <th scope="col">Kwota netto</th>
                <th scope="col">Kwota podatku VAT</th>
                <th scope="col">Kwota brutto</th>
                <th scope="col">Kwota netto w walucie</th>
                <th scope="col">Waluta</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for saleInvoice in saleInvoices %}
            <tr>
                <td scope="row"><a href="{{ path('saleinvoice_show', { 'id': saleInvoice.id }) }}">{{ saleInvoice.id }}</a></td>
                <td>{% if saleInvoice.data %}{{ saleInvoice.data|date('Y-m-d') }}{% endif %}</td>
                <td>{{ saleInvoice.number }}</td>
                <td>{{ saleInvoice.contractors ? saleInvoice.contractors.name }}</td>
                <td>{{ saleInvoice.amountNetto }}</td>
                <td>{{ saleInvoice.taxId }}</td>
                <td>{{ saleInvoice.amountBrutto }}</td>
                <td>{{ saleInvoice.amountNettoCurrency }}</td>
                <td>{{ saleInvoice.currency }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('saleinvoice_show', { 'id': saleInvoice.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('saleinvoice_edit', { 'id': saleInvoice.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	{{ knp_pagination_render(saleInvoices) }}

    <ul>
        <li>
            <a href="{{ path('saleinvoice_new') }}">Dodaj nową fakturę sprzedaży</a>
        </li>
    </ul>
{% endblock %}
