{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faktura sprzedaży</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ saleInvoice.id }}</td>
            </tr>
            <tr>
                <th>Data faktury</th>
            <td>
                {% if saleInvoice.data %}
                    {{ saleInvoice.data|date('Y-m-d') }}
                {% endif %}
            </td>
            </tr>

            <tr>
                <th>Numer faktury</th>
                <td>{{ saleInvoice.number }}</td>
            </tr>
            <tr>
                <th>Nazwa kontrahenta</th>
                <td>{{ saleInvoice.contractors.name }}</td>
            </tr>
            <tr>
                <th>Kwota netto</th>
                <td>{{ saleInvoice.amountNetto }}</td>
            </tr>
            <tr>
                <th>Kwota podatku VAT</th>
                <td>{{ saleInvoice.taxId }}</td>
            </tr>
            <tr>
                <th>Kwota brutto</th>
                <td>{{ saleInvoice.amountBrutto }}</td>
            </tr>
            <tr>
                <th>Kwota netto w walucie</th>
                <td>{{ saleInvoice.amountNettoCurrency }}</td>
            </tr>
            <tr>
                <th>Waluta</th>
                <td>{{ saleInvoice.currency }}</td>
            </tr>
            {% if saleInvoice.embeddedFile.name %}
                <tr>
                    <th>Plik</th>
                    <td><a href="{{ vich_uploader_asset(saleInvoice, 'file') }}">Pobierz</a></td>
                </tr>
            {% endif %}

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('saleinvoice_index') }}">Powrót do listy</a>
        </li>
        <li>
            <a href="{{ path('saleinvoice_edit', { 'id': saleInvoice.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
